Repository pangolindex/pangolin.exchange: changes, and which lint-staged commands are due for each by the changed paths.
All: rustywind --write, prettier --write

.lintstagedrc.json:

{
  "**/*.{svelte,html}": ["rustywind --write"],
  "**/*.{json,cjs,md,html,ts,svelte,js,css}": ["prettier --write"]
}

fix: items align
  src/pages/Home/styled.tsx
Due: none

fix: fix partners & chains logo and items align (#75)
  src/assets/images/coinbase.png
  src/assets/svg/arkhia.svg
  src/assets/svg/axelar.svg
  src/assets/svg/flare.svg
  src/assets/svg/squid.svg
  src/assets/svg/thorchain.svg
  src/constants/index.ts
  src/hooks/index.ts
  src/hooks/types.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
Due: prettier --write

feat: removed intercom
  index.html
  src/intercom.tsx
  src/pages/App.tsx
Due: rustywind --write, prettier --write

fix: remove intercom (#76)
  index.html
  src/intercom.tsx
  src/pages/App.tsx
Due: rustywind --write, prettier --write

feat: launch app button
  src/components/LaunchAppButton/index.tsx
  src/layout/Header/MenuItems.tsx
  src/pages/Home/index.tsx
Due: none

fix(header): apr warning
  src/layout/index.tsx
Due: none

Update warning banner text
  src/layout/index.tsx
Due: none

Add News Channel link to the menu
  src/layout/Header/MenuItems.tsx
Due: none

proof
  public/CMCproof.html
Due: rustywind --write, prettier --write

added new logo and removed Analytics menu item.
  src/assets/svg/new-logo-dark.svg
  src/components/LaunchAppButton/index.tsx
  src/layout/Header/MenuItems.tsx
  src/layout/Header/index.tsx
  src/layout/index.tsx
Due: none
