Repository pangolindex/pangolin.exchange: changes, and which lint-staged commands are due for each by the changed paths.
All: rustywind --write, prettier --write

.lintstagedrc.json:

{
  "**/*.{svelte,html}": ["rustywind --write"],
  "**/*.{json,cjs,md,html,ts,svelte,js,css}": ["prettier --write"]
}

Fixed lint
  .babelrc
  package-lock.json
  package.json
  src/index.tsx
  src/layout/Header/index.tsx
  src/layout/Header/styled.tsx
  src/layout/index.tsx
  src/layout/styled.tsx
  src/pages/App.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
  src/state/index.ts
  src/state/user/actions.ts
  src/state/user/hooks.ts
  src/state/user/reducer.ts
  src/theme/index.tsx
  tsconfig.json
Due: prettier --write

Added patch-package
  package.json
Due: prettier --write

Added responsiveness
  package-lock.json
  package.json
  src/layout/Header/MenuIcon.tsx
  src/layout/Header/index.tsx
  src/layout/Header/styled.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
  tsconfig.json
Due: prettier --write

Fix account type
  src/index.tsx
Due: none

Downgrade react-use
  package-lock.json
  package.json
Due: prettier --write

Dummy commit
  .eslintrc.json
Due: prettier --write

Disable new jsx transform
  .env
  package-lock.json
Due: prettier --write

Added mobile menu
  src/layout/Header/MenuItems.tsx
  src/layout/Header/MobileMenu/MenuIcon.tsx
  src/layout/Header/MobileMenu/index.tsx
  src/layout/Header/MobileMenu/styled.tsx
  src/layout/Header/index.tsx
  src/layout/Header/styled.tsx
  src/layout/styled.tsx
  src/theme/index.tsx
Due: none

Migrate to gitbook litepaper
  src/lib/components/Header.svelte
  src/routes/index.svelte
  src/routes/litepaper.svelte
  src/routes/pangolin_v2.svelte
  src/routes/tutorials/earn-png.svelte
  src/routes/tutorials/getting-started.svelte
  src/routes/tutorials/manage-liquidity.svelte
Due: rustywind --write, prettier --write

Move packages to dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Added license
  LICENSE
Due: none

Update texts
  src/pages/Home/index.tsx
Due: none

fix: mobile overflow not working
  src/layout/Header/styled.tsx
  src/layout/styled.tsx
  src/theme/index.tsx
Due: none

fix: mobile menu
  src/layout/Header/MobileMenu/index.tsx
  src/layout/Header/MobileMenu/styled.tsx
Due: none

feat: added parterns in home page
  package-lock.json
  package.json
  src/constants/index.ts
  src/hooks/index.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
Due: prettier --write

feat: added live networks
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
Due: none

feat: added mixpanel
  .env.example
  package-lock.json
  package.json
  src/components/MixPanel/index.tsx
  src/index.tsx
Due: prettier --write

feat: return button id in mixpanel
  src/components/MixPanel/index.tsx
  src/layout/Header/MenuItems.tsx
  src/layout/Header/styled.tsx
  src/pages/Home/index.tsx
Due: none

feat: added partners and chains sites
  src/constants/index.ts
  src/hooks/index.ts
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
Due: prettier --write

fix: camel case
  src/constants/index.ts
  src/pages/Home/index.tsx
Due: prettier --write

fix typo
  src/pages/Home/index.tsx
Due: none

Update index.tsx
  src/pages/Home/index.tsx
Due: none

Update MenuItems.tsx
  src/layout/Header/MenuItems.tsx
Due: none

feat: use querystring to stringify the query
  package-lock.json
  package.json
  src/hooks/index.ts
Due: prettier --write

feat: get live chains from directus
  src/constants/index.ts
  src/hooks/index.ts
  src/pages/Home/index.tsx
Due: prettier --write

fix: fetch partners & chains data from directus (#67)
  package-lock.json
  package.json
  src/constants/index.ts
  src/hooks/index.ts
  src/pages/Home/index.tsx
Due: prettier --write

fix css issues in home page
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
Due: none

fix: css issues in header
  src/layout/Header/MobileMenu/styled.tsx
  src/layout/Header/styled.tsx
Due: none

Fix css issues (#69)
  src/layout/Header/MobileMenu/styled.tsx
  src/layout/Header/styled.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
Due: none

fix: rename about us to about dao
  src/layout/Header/MenuItems.tsx
Due: none

feat: intercom integration
  .eslintignore
  package-lock.json
  public/index.html
  src/index.tsx
  src/intercom.tsx
Due: rustywind --write, prettier --write

feat: completed intercom & wallet integration
  .babelrc
  package-lock.json
  package.json
  src/index.tsx
  src/intercom.tsx
  src/pages/App.tsx
Due: prettier --write

fix: replace package lock with yarn lock
  package-lock.json
  package.json
  src/index.tsx
  yarn.lock
Due: prettier --write

feat: intercom integration & move to vite (#72)
  .babelrc
  .env
  .env.example
  .eslintignore
  .eslintrc.json
  .gitignore
  README.md
  index.d.ts
  index.html
  package-lock.json
  package.json
  public/index.html
  public/manifest.json
  public/robots.txt
  src/components/MixPanel/index.tsx
  src/index.tsx
  src/intercom.tsx
  src/pages/App.tsx
  src/react-app-env.d.ts
  src/state/application/actions.ts
  src/state/index.ts
  src/state/user/reducer.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: rustywind --write, prettier --write

feat: wallet modal integration removed
  package.json
  src/index.tsx
  src/intercom.tsx
  src/pages/App.tsx
  yarn.lock
Due: prettier --write

fix: intercom - wallet integration removed (#74)
  package.json
  src/index.tsx
  src/intercom.tsx
  src/pages/App.tsx
  yarn.lock
Due: prettier --write

fix: partners
  src/assets/images/coinbase.png
  src/assets/svg/arkhia.svg
  src/assets/svg/axelar.svg
  src/assets/svg/flare.svg
  src/assets/svg/squid.svg
  src/assets/svg/thorchain.svg
  src/constants/index.ts
  src/hooks/index.ts
  src/hooks/types.ts
  src/pages/Home/index.tsx
Due: prettier --write

fix: pangolin live chains
  src/constants/index.ts
  src/pages/Home/index.tsx
Due: prettier --write
