Repository pangolindex/pangolin.exchange: changes, and which lint-staged commands are due for each by the changed paths.
All: rustywind --write, prettier --write

Historical AVAX and Optimizations (#37)
  src/lib/utils/constants.js
  src/lib/utils/getTableData.js
  src/lib/utils/getTotalStats.js
  src/routes/index.svelte
Due: rustywind --write, prettier --write

remove instructions for 225 gas
  src/routes/faq.svelte
Due: rustywind --write, prettier --write

add new staking addresses
  src/lib/utils/constants.js
Due: prettier --write

Handle split APR
  src/lib/utils/getTotalStats.js
Due: prettier --write

Add new partners eleven, frax, starter, yay
  src/routes/index.svelte
  static/eleven.png
  static/frax.png
  static/starter.png
  static/yay.png
Due: rustywind --write, prettier --write

add substack link
  src/lib/components/Header.svelte
Due: rustywind --write, prettier --write

add staking tutorial, add partners, update staking addreses
  src/lib/utils/constants.js
  src/routes/index.svelte
  src/routes/tutorials/index.svelte
  src/routes/tutorials/stake-png.svelte
  static/paraswap.png
  static/textures/purty-wood.png
  static/trustswap.png
  static/tutorials/stake-png/001.png
  static/tutorials/stake-png/002.png
  static/tutorials/stake-png/003.png
  static/tutorials/stake-png/004.png
  static/tutorials/stake-png/005.png
  static/tutorials/stake-png/006.png
  static/tutorials/stake-png/007.png
  static/tutorials/stake-png/008.png
  static/tutorials/stake-png/009.png
  static/tutorials/stake-png/010.png
  static/xdollar.png
Due: rustywind --write, prettier --write

new partners, update tokens and staking addresses
  src/lib/utils/constants.js
  src/routes/index.svelte
  static/axelar.png
  static/openocean.png
Due: rustywind --write, prettier --write

add more staking addresses
  src/lib/utils/constants.js
Due: prettier --write

add partners, update tokens
  src/lib/utils/constants.js
  src/routes/index.svelte
  static/apein.png
  static/everestdao.png
  static/ironfinance.png
  static/wowswap.png
Due: rustywind --write, prettier --write

add bitmart logo
  src/lib/components/Footer.svelte
  static/bitmart.png
Due: rustywind --write, prettier --write

add partners, add docs
  src/lib/components/Footer.svelte
  src/lib/components/Header.svelte
  src/routes/index.svelte
  static/antimatter.png
  static/autonomy.png
  static/insurace.png
  static/nexusmutual.png
  static/oin.png
  static/rome.png
  static/teddy.png
Due: rustywind --write, prettier --write

fix teddy image reference
  src/routes/index.svelte
Due: rustywind --write, prettier --write

add pangolin v2 page
  src/lib/components/Header.svelte
  src/lib/utils/constants.js
  src/routes/pangolin_v2.svelte
Due: rustywind --write, prettier --write

updating wording based on feedback
  src/routes/pangolin_v2.svelte
Due: rustywind --write, prettier --write

add twitter pixel tracking
  src/routes/pangolin_v2.svelte
Due: rustywind --write, prettier --write

Get info for pools
  src/lib/utils/getTotalStats.js
Due: prettier --write

fix: max apr
  src/lib/utils/getTotalStats.js
Due: prettier --write

Change Pangolin images
  static/favicon.ico
  static/icon.svg
  static/logo.svg
Due: none

update discord, telegram links
  src/lib/components/Header.svelte
Due: rustywind --write, prettier --write

fix logo size
  src/routes/index.svelte
Due: rustywind --write, prettier --write

fix emission numbers
  src/routes/litepaper.svelte
Due: rustywind --write, prettier --write

Avalanche mainnet token images
  src/routes/index.svelte
Due: rustywind --write, prettier --write

APRv2 and partial failure handling
  src/lib/utils/getTotalStats.js
Due: prettier --write

Added project structure
  package-lock.json
  package.json
  public/favicon.ico
  public/favicon.png
  public/index.html
  public/logo192.png
  public/logo512.png
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/layout/Header/index.tsx
  src/layout/index.tsx
  src/layout/styled.tsx
  src/pages/App.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
  src/reportWebVitals.ts
  src/setupTests.ts
  src/state/global/actions.ts
  src/state/index.ts
  src/state/user/actions.ts
  src/state/user/hooks.ts
  src/state/user/reducer.ts
  src/theme/index.tsx
  src/theme/styled.d.ts
  tsconfig.json
Due: rustywind --write, prettier --write

Fix theme
  src/theme/index.tsx
  src/theme/styled.d.ts
Due: prettier --write

Added header
  src/assets/svg/Logo.svg
  src/layout/Header/index.tsx
  src/layout/Header/styled.tsx
  src/layout/styled.tsx
  src/pages/App.tsx
  src/pages/Home/index.tsx
Due: none

Fix page Title
  public/index.html
Due: rustywind --write, prettier --write

Fix indentation
  src/layout/Header/index.tsx
  src/layout/Header/styled.tsx
Due: none

Added Home Page
  src/assets/images/home.png
  src/layout/Header/index.tsx
  src/layout/styled.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
  src/theme/index.tsx
Due: none

Upgrade packages
  package-lock.json
  package.json
Due: prettier --write

Fix link and header height
  src/layout/Header/index.tsx
Due: none

Fix text issues
  src/pages/Home/index.tsx
  src/pages/Home/styled.tsx
Due: none

Updated readme
  README.md
Due: prettier --write

Removed tests for now
  package.json
Due: prettier --write

Fixed packages
  package-lock.json
  package.json
Due: prettier --write

Added husky, pre commit, lint-staged, eslint, prettier
  .eslintrc.json
  .husky/pre-commit
  .prettierrc
  package-lock.json
  package.json
Due: prettier --write

Added babel-jest
  package.json
Due: prettier --write

Added jest
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  rustywind --write: any of: **/*.{svelte,html}
  prettier --write: any of: **/*.{json,cjs,md,html,ts,svelte,js,css}
